@model IList<Park>

@{
    ViewData["Title"] = "Home Page";
}
<div class="background"></div>
<div class="body-content">
    <h2>National Parks</h2>




    @foreach (var park in Model)
    {


        <div class="parkcontainer">
            <a asp-controller="home" asp-action="detail" asp-route-id="@park.ParkCode"><img class="parkimage" src="~/images/@(park.ParkCode).jpg" /></a>


            <p class="parkName">@park.ParkName</p>
            <p class="parkState">@park.State</p>
            <p class="parkDescription">@park.Description</p>
        </div>

    }



</div>