@model SurveyPost
@{
    ViewData["Title"] = "AddSurveyPost";
}


<h2>National Parks Survey</h2>
<form asp-controller="survey" asp-action="addsurveypost" method="post">
    <div>
        
    </div>

</form>