@model IList<SurveyPark>


@{
    ViewData["Title"] = "Index";
}




<div class="index"></div>
    <h1>Top Rated Parks!!</h1>
    <section class="centeredPanel">
        <table id="surveyIndexTable" class="table table-striped">

            <tbody>

                @foreach (var park in Model)
                {
                    <tr>
                        <td>
                            <img class="indexImage" src="~/images/@(park.surveyPark.ParkCode).jpg" />
                        </td>
                        <td>
                            <h3 id="indexParkName">@park.surveyPark.ParkName</h3>
                            <p>@park.surveyPark.Description</p>
                            <label class="count">VOTES:<p>@park.Count</p></label>
                        </td>
                    </tr>

                }

            </tbody>

        </table>
    </section>

