@model IList<SurveyPark>


@{
    ViewData["Title"] = "Index";
}


<h2>Top Rated Parks!!</h2>

<div>
    <table class="table">

        <tbody>

            @foreach (var park in Model)
            {
                <tr>
                    <td>
                        <img src="~/images/@(park.surveyPark.ParkCode).jpg" />
                    </td>
                    <td>
                        <p>@park.surveyPark.ParkName</p>
                        <p>@park.surveyPark.Description</p>
                        <p>@park.Count</p>
                    </td>
                </tr>

            }

        </tbody>

    </table>
</div>

