<link href="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" rel="stylesheet" >
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: rgb(11,11,11);
    background-color: rgb(248, 248, 248);
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/* Style Weather Forecasts */

.weatherImg {
    width: 15vh;
}

.navbar-default {
    background: #5A3F37; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C7744, #5A3F37); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C7744, #5A3F37); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.99;
    position: fixed;
    width: 100vw;
    z-index: 99999;
}

/* Style Home Index View */
.background {
    background-image: url('/images/homeBackground.jpg');
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.head {
    justify-content: center;
}

.headItem {
    color: white;
    display: block;
    margin-top: 1rem;
    float: left;
}

.head hr {
    margin-top: 2rem;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #4a6741, #3f5a36, #374f2f);
}

.container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: space-around;
    flex-direction: row;
}

.body-content {
    margin-top: 6rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
}

.homeParkImage {
    display: block;
    justify-content: center;
    width: 15vw;
    border: 2px;
    margin: 0 auto;
    font-size: 0;
    filter: blur(4px);
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,.8);
    opacity: .8;
}

.parkName {
    font-family: PT Sans Narrow;
    font-size: 2.0em;
    color: silver;
    border-bottom: 1px solid white;
    text-align: center;
}

.parkState {
    font-family: PT Sans Narrow;
    font-size: 2.0em;
    color: silver;
}

.parkDescription {
    font-family: PT Sans Narrow;
    font-size: 2rem;
    color: silver;
}

.parkContainer {
    width: 30vw;
    border: 1px solid rgb(110, 97, 47);
    border-radius: 3px;
    padding: 20px;
    background-color: rgba(0,0,0, 0.6);
    -webkit-transition: transform 0.2s;
    height: 530px;
    overflow-y: auto;
    display: block;
    margin: 0 .5vw;
}

    .parkContainer:not(:nth-of-type(1)) {
        margin-top: 1.5vh;
    }

    .parkContainer:nth-of-type(1) {
        margin-top: 1vh;
    }

    .parkContainer:nth-of-type(2) {
        margin-top: 1vh;
    }

    .parkContainer:nth-of-type(3) {
        margin-top: 1vh;
    }

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    height: 510px;
    border-radius: 80px;
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 10px 0 6px rgba(255,255,255,.3);
    z-index: -99999;
}

.parkItems {
    flex-basis: 50%;
}

.parkContainer:hover {
    transform: scale(1.03);
    height: 530px;
    -webkit-transition: transform 0.2s;
    background-color: rgba(0,0,0, 0.8);
}

    .parkContainer:hover .homeParkImage {
        filter: blur(0);
        image-rendering: optimizeQuality;
        transition: all .3s;
        opacity: 1;
    }

.homeParkImage:hover {
    transition: all .3s;
    transform: scale(1.06);
}

.tabs {
    display: inline-block;
    color: rgb(244,244,244);
}

ul.nav.navbar-nav li.tabs a {
    color: rgb(244,244,244);
}

.logo {
    display: inline-block;
    height: 4vh;
    width: auto;
    margin-top: -1vh;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 6vh;
    z-index: 99999;
    color: rgb(244,244,244);
}

/* Styling the Park Detail Page */
.parkDetailBackground {
    background-image: url('/images/parkDetailBackground.jpg');
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.parkNameDetail {
    color: black;
}

.picAndQuote {
    width: 30vw;
    margin-left: 8%;
    margin-top: 4%;
    border: 1px solid rgb(110, 97, 47);
    border-radius: 3px;
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.92;
}

.parkDetailContainer {
    display: block;
    width: 100rem;
    border: 1px solid rgb(110, 97, 47);
    border-radius: 3px;
    background: #485563; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    opacity: 0.92;
    justify-content: center;

}

.parkDetails {
    font-size: 18px;
    color: #e97451;
    text-emphasis: filled;
}

.detailImage {
    width: 100%;
    image-rendering: optimizeQuality;
    border: 1px solid rgb(2,2,2);
    border-radius: 2px;
}

.quote {
    margin-top: 6%;
    padding-left: 6%;
    width: 100%;
    color: #e97451;
}

.quoteSource {
    font-style: italic;
    font-size: 12px;
    text-align: right;
    color: #e97451;
}

.parkNameDetail {
    margin-top: 18vh;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid black;
}

.container {
    width: 100vw;
    margin-left: 0;
}


.forecastDay {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: silver;
    border: 1px solid rgba(2,2,2,.6);
    width: 380px;
background: #000046;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

    .forecastDay img {
        width: 50px;
        border-radius: 60%;
    }

    .forecastDay:nth-of-type(1) img {
        width: 200px;
        display: block;
        margin: 0 auto;
    }

    .forecastDay:nth-of-type(1) .date {
        margin-top: 0;
    }

.tempHeader {
    font-weight: bold;
    display: inline;
}

.weather {
    display: inline;
}

.forecasts {
    width: calc(100% - 30vw - 19%);
    margin: 4% auto 0 auto;
}

.yearDetail {
    width: 100%;
}

.date {
    text-align: center;
    font-weight: bold;
    margin: 1% 0;
    display: inline;
    text-transform: uppercase;
}

.tempConverter {
    margin-top: 12%;
    color: silver;
}

.button {
    color: black;
}


/* Style Survey Post Page */

.surveyBackground {
    background-image: url('/images/surveyBackgroundImage.jpg');
    position: fixed;
    background-size: cover;
    top: 50px;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

section.centeredPanel {
    clear: both;
    display: block;
    width: 80%;
    vertical-align: top;
    min-height: 350px;
    background-color: rgba(25,75,50,0.7);
    border-radius: 7px;
    margin: 20px auto;
}


    section.centeredPanel h2, h3 {
        font-family: PT Sans Narrow;
        font-weight: 700;
        color: #e97451;
        text-align: center;
        padding-top: 15px;
    }

    section.centeredPanel h3 {
        color: #e97451;
    }

    section.centeredPanel p {
        color: #000;
        text-align: left;
    }



.surveySelect {
    color: #e97451;
    margin: 4px 0 2px 15px;
}

.surveyEmail {
    color: #e97451;
    margin: 4px 0 2px 15px;
}

.surveyState {
    color: #e97451;
    margin: 4px 0 2px 15px;
}

.surveyActivity {
    color: #e97451;
    margin: 4px 0 2px 15px;
}

.btn-lg {
    background-color: rgb(25,60,50);
    color: #e97451;
    margin-left: 15px;
    margin-top: 10px;
}


/* Style Survey Index Page */

.index {
    background-image: url('/images/surveyBackgroundImage.jpg');
    position: fixed;
    background-size: cover;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -100;
}

.indexParkName {
    font-family: PT Sans Narrow;
    font-weight: 700;
    font-size: x-large;
    color: green;
}

#indexParkName {
    color: green;
}

.index p {
    font-family: PT Sans Narrow;
    font-size: large;
}

.indexImage {
    width: 25vw;
    height: auto;
}

#surveyIndexTable.table-striped tr:nth-of-type(odd) {
    background-color: darkcyan;
}

#surveyIndexTable.table-striped tr:nth-of-type(even) {
    background-color: lightcyan;
}

.index h1 {
    text-align: center;
    font-family: PT Sans Narrow;
    font-weight: 700;
}
